body{
    font-family: cursive;
    text-align: center;
    margin-top: 50px;
}

input, button{
    padding: 10px;
    font-size: 15px;
    margin: 5px;
}

#resultado{
    margin-top: 20px;
    font-size: 18px;
}

.error{
    color:red;  
}